@font-face { font-family: 'Bully';
    src: url('fonts/Bully.otf') format('opentype');
}

@font-face { font-family: 'Chinese Rocks';
    src: url('fonts/Chinese Rocks.ttf') format('truetype');
}

@font-face { font-family: 'Compacta BT';
    src: url('fonts/Compacta BT Bold.ttf') format('truetype');
}

@font-face { font-family: 'DonGraffiti';
    src: url('fonts/DonGraffiti.otf') format('opentype');
}

@font-face { font-family: 'Gunplay';
    src: url('fonts/Gunplay.ttf') format('truetype');
}

@font-face { font-family: 'NightAOE';
    src: url('fonts/NightAOE.ttf') format('truetype');
}

@font-face { font-family: 'Prisma';
    src: url('fonts/Prisma.ttf') format('truetype');
}

@font-face { font-family: 'Syemox';
    src: url('fonts/Syemox.ttf') format('truetype');
}

@font-face { font-family: 'Transformers';
    src: url('fonts/Transformers Movie.ttf') format('truetype');
}

@font-face { font-family: 'Vipnagorgialla';
    src: url('fonts/Vipnagorgialla Bold.otf') format('opentype');
}

@font-face { font-family: 'Walkway';
    src: url('fonts/Walkway Bold.ttf') format('truetype');
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.bg-image {
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.bg-image .test {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: deepskyblue;
}

.options {
    width: 40%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}