.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.background-image {
	background-image: url("https://rxi.iscdn.net/2019/02/179691_roczen_rs_sx19_arlington_048.jpg?h=939&w=1525&q=50&auto=format&fit=max&dpr=1");
	height: 969px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	max-width: 1920px;
	}

.hero-text {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 5px 10px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 8px;
	width: 500px;
}

.hero-button {
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 5px 10px;
	font-family: 'Staatliches', cursive;
	text-align: center;
	border: 1px solid rgba(255,255,255,0.2);
	border-radius: 8px;
}


h1 {
	margin: 5px 10px;
}

.bg-light {
	background-image: url("https://rxi.iscdn.net/2019/02/179691_roczen_rs_sx19_arlington_048.jpg?h=939&w=1525&q=50&auto=format&fit=max&dpr=1");
	background-size: cover;
	background-color: #8e8e8e!important;
	background-blend-mode: multiply;
}